@model EComputek.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Productid" class="control-label"></label>
                <input asp-for="Productid" class="form-control" readonly/>
                <span asp-validation-for="Productid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockQuantity" class="control-label"></label>
                <input asp-for="StockQuantity" class="form-control" />
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imageurl" class="control-label"></label>
                <input type="file" name="file" class="form-control" />
                <span asp-validation-for="Imageurl" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Old Image Preview</label>
                <img src="@Url.Content(Model.Imageurl)" height="200" width="200" />
                <span asp-validation-for="Imageurl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoryid" class="control-label"></label>
                <input asp-for="categoryid" class="form-control" asp-items="@(new SelectList(ViewBag.Category,"categoryid","name"))" />
                <span asp-validation-for="categoryid" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="categoryname" class="control-label"></label>
                <input asp-for="categoryname" class="form-control" />
                <span asp-validation-for="categoryname" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
