@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
   

<div>
    <p class="hd1">Welcome to EComputek</p>
</div>

@* <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/HomePageImages/HomePageGraphicsCard.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/HomePageImages/HomePageMonitor.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/HomePageImages/HomePageGamingPc" class="d-block w-100" alt="...">
    </div>
  </div>
</div> *@

@* <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="~/HomePageImages/HomePageGraphicsCard.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="~/HomePageImages/HomePageMonitor.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/HomePageImages/HomePageGamingPc.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
 *@




 <div class="pc1">
        <img src="~/HomePageImages\4090.jpg" alt="graphiic"  style="height:400px" width="900px"/>
 </div>













 <br />

 <div id="pic">
<div class="card" style="width: 18rem;">
  <img src="~/HomePageImages/HomePageGraphicsCard.jpg" class="card-img-top" alt="Graphics Card Image">
  <div class="card-body">
    <h5 class="card-title">Next Gen graphic Card</h5>
    <p class="card-text">Grab Yourself the best and the fastest Graphics Card at discounted price</p>
                <a href="http://localhost:61620/Register/Login" class="btn btn-primary">Login to Buy</a>
            </div>
</div>

<div class="monitor">
<div class="card" style="width: 18rem;">
  <img src="~/HomePageImages/HomePageMonitor.jpg" class="card-img-top" alt="Monitors">
  <div class="card-body">
    <h5 class="card-title">4K Monitors</h5>
    <p class="card-text">Chechkout newest models of monitors available for both E-Sports and Your Relaxing Gaming Sessions</p>
                    <a href="http://localhost:61620/Register/Login" class="btn btn-primary">Login to Buy</a>
                </div>
</div>

            <div class="monitor1">
                <div class="card" style="width: 18rem;">
                    <img src="~/HomePageImages/Gaming_PC_Setup.jpg" class="card-img-top" alt="Pc">
                    <div class="card-body">
                        <h5 class="card-title">Gaming Pc's</h5>
                        <p class="card-text">Checkout various prebuild gaming pc's according to your personal requirements, order and recieve the pc in 3 days</p>
                        <a href="http://localhost:61620/Register/Login" class="btn btn-primary">Login to Buy</a>
                    </div>
                </div>


                <div class="monitor2">
                    <div class="card" style="width: 18rem;">
                        <img src="~/HomePageImages/Keyboard pic.jpg" class="card-img-top" alt="KeyBoard">
                        <div class="card-body">
                            <h5 class="card-title">RGB Gaming Keyboard</h5>
                            <p class="card-text">We have all types of keyboards, RGB Gaming, Mechanical, Customizable and much more, you name it we deliver it</p>
                            <a href="http://localhost:61620/Register/Login" class="btn btn-primary">Login to Buy</a>
                        </div>
                    </div>

                    

</div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<div class="marc">
    <marquee>🚚Buy a Gaming Pc now and get free Keyboard and Mouse worth ₹4000🎉 </marquee>

</div>
                



 